src/ai_model/model/rec_chn_comp/rec_chn_rec_v2.0.0.trt
src/ai_model/model/rec_chn_comp/rec_chn_comp_jm_v1.0.0.onnx
src/ai_model/model/rec_chn_comp/rec_chn_comp_jm_v1.0.0.trt
src/ai_model/model/rec_chn_comp/rec_chn_comp_zt_v1.0.0.trt
src/ai_model/model/rec_chn_comp/rec_chn_rec_v0603.trt
src/ai_model/model/rec_chn_comp/rec_chn_rec_v2.0.0.onnx
src/ai_model/model/det_chn_yolov5/yolov5l.engine
src/ai_model/model/det_chn_comp/textsnake_chs.onnx
src/ai_model/model/det_chn_comp/textsnake_chs.trt
src/ai_model/model/det_chn_comp/area_chs.trt
src/ai_model/model/det_chn_comp/area_chs.onnx
src/ai_model/lib/libcudnn.so.7
src/ai_model/lib/libcudnn.so
src/ai_model/lib/libnvinfer.so
src/ai_model/lib/libcudnn.so.7.6.5
src/ai_model/lib/libnvinfer.so.7
src/ai_model/lib/libnvinfer.so.7.0.0
src/ai_model/lib/libcublas.so.10.0
src/3rdParty/ubuntu-cuda10/libnvinfer.so.6
src/3rdParty/ubuntu-cuda10/libcublas.so.10.0
